<div class="planning-container " (click)="closeAllMenus()">
 <div class=" title-box">
    <p >برنامه‌ریزی اهداف</p>
  </div>
  
  <div class="tabs">
    @for (tab of tabs; track tab) {
      <button [class.active]="tab === activeTab" (click)="setActive(tab)">
        {{ tab }}
      </button>
    }
  </div>

  <div class="date-section">
    <span class="arrow" (click)="handlePrevious()">‹</span>
    <div class="date-content">
      <h2>{{ date }}</h2>
      <p>{{ description }}</p>
    </div>
    <span class="arrow" (click)="handleNext()">›</span>
  </div>

  <div class="goals">
    @for (item of displayItems; let i = $index; track item.subGoal.name + item.subGoal.targetDate) {
      <div class="goal-card" [style.border-right-color]="item.parentGoal.color">
        <div class="goal-header">
          <h3>{{ item.subGoal.name }}</h3>
          <div class="menu-wrapper">
            <button class="menu-btn" (click)="$event.stopPropagation(); toggleMenu(i)">
              ⋮
            </button>
            
            @if (openedMenuIndex === i) {
              <div class="menu-dropdown">
                <button class="menu-item" (click)="editGoal(item)">
                  <span class="menu-icon">✏️</span>
                  ویرایش رکورد
                </button>
                <button class="menu-item" (click)="selectPriority(item)">
                  <span class="menu-icon">🎯</span>
                  انتخاب اولویت
                </button>
                <button class="menu-item" (click)="showReport(item)">
                  <span class="menu-icon">📊</span>
                  لیست گزارش
                </button>
                <div class="menu-divider"></div>
                <button class="menu-item delete">
                  <span class="menu-icon">🗑️</span>
                  حذف کردن
                </button>
              </div>
            }
          </div>
        </div>

        <div class="progress">
          <div class="bar">
            <div class="fill" [style.width.%]="item.parentGoal.progress" [style.background]="item.parentGoal.color"></div>
          </div>
          <span class="percent">{{ item.parentGoal.progress }}%</span>
        </div>
      </div>
    }
    
      
    </div>
    <!-- <button class="my-courses-btn button-container ">
      دیدن دوره‌های من
      <i class="bi bi-eye"></i>
    </button> -->

    <button class="button">
      افزودن هدف <i class="bi bi-plus-circle-fill"></i>
    </button>
  </div>
