.road-container {
  position: relative;
  width: 95%;
  max-width: 1000px;
  margin: 100px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .svg-wrapper {
    width: 100%;
    svg {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
  }

  .tooltip-box {
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 8px;
    font-size: 12px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    pointer-events: none;
  }
}
