<div class="road-container">
    <div class="svg-wrapper" #svgContainer></div>
  
    <svg *ngIf="points.length > 0" viewBox="0 0 1000 400" xmlns="http://www.w3.org/2000/svg" class="overlay" preserveAspectRatio="xMidYMid meet">
      <ng-container *ngFor="let point of points">
        <circle
          [attr.cx]="point.x"
          [attr.cy]="point.y"
          r="10"
          fill="#ffb703"
          stroke="#2b2b2b"
          stroke-width="3"
          (mouseenter)="hoveredPoint = point"
          (mouseleave)="hoveredPoint = null"
        ></circle>
  
        <line
          *ngIf="hoveredPoint?.id === point.id"
          [attr.x1]="point.x"
          [attr.y1]="point.y + 15"
          [attr.x2]="point.x"
          [attr.y2]="point.y + 60"
          stroke="#999"
          stroke-width="2"
          stroke-dasharray="4 4"
        ></line>
  
        <foreignObject
          *ngIf="hoveredPoint?.id === point.id"
          [attr.x]="point.x - 50"
          [attr.y]="point.y + 65"
          width="120"
          height="60"
        >
          <div class="tooltip">{{ point.label }}</div>
        </foreignObject>
      </ng-container>
    </svg>
  </div>
  