<div class="road-container" (click)="closeTooltip()">
  <div class="svg-wrapper" #svgContainer></div>

  <svg *ngIf="points.length" viewBox="0 0 1000 400" class="overlay">
    <ng-container *ngFor="let p of points">
      <!-- مراحل هدف اصلی -->
      <g
        *ngIf="p.type === 'step'"
        (click)="openTooltip(p.goalIndex, p.stepIndex!, $event)"
        style="cursor: pointer"
      >
      <circle
      *ngIf="p.type === 'step'"
      [attr.cx]="p.x"
      [attr.cy]="p.y - 5"
      r="8"
      [attr.fill]="hasGoalMarkerAt(p) ? '#FFD700' : '#999'"
      [attr.opacity]="hasGoalMarkerAt(p) ? 1 : 0"
      stroke="#333"
      stroke-width="1"
    />
    
        <!-- تولتیپ مرحله -->
        <foreignObject
          *ngIf="
            tooltip &&
            tooltip.goalIndex === p.goalIndex &&
            tooltip.stepIndex === p.stepIndex
          "
          [attr.x]="p.x - 60"
          [attr.y]="p.y - 90"
          width="120"
          height="70"
        >
          <div xmlns="http://www.w3.org/1999/xhtml" class="tooltip-box">
            <strong>{{ roadmap[p.goalIndex].steps[p.stepIndex!].name }}</strong
            ><br />
            <label>
              <input
                type="checkbox"
                [checked]="roadmap[p.goalIndex].steps[p.stepIndex!].done"
                (click)="toggleStep(p.goalIndex, p.stepIndex!); $event.stopPropagation()"
              />
              انجام شد
            </label>
          </div>
        </foreignObject>
      </g>

      <!-- هدف اصلی -->
      <g *ngIf="p.type === 'goal' && p.goalIndex === mainGoalIndex">
        <image
          [attr.x]="p.x - 25"
          [attr.y]="p.y - 60"
          width="50"
          height="50"
          href="assets/point 3.svg"
        ></image>
        <foreignObject
          [attr.x]="p.x - 80"
          [attr.y]="p.y - 120"
          width="160"
          height="80"
        >
          <div xmlns="http://www.w3.org/1999/xhtml" class="tooltip-box">
            <strong>{{ roadmap[p.goalIndex].title }}</strong><br />
            درصد پیشرفت: {{ progressPercent }}٪
          </div>
        </foreignObject>
      </g>

      <!-- سایر اهداف -->
        <g *ngIf="p.type === 'goal' && p.goalIndex !== mainGoalIndex">
        <!-- آیکون نقطه هدف کوچک -->
          <image
            [attr.x]="p.x - 20"
            [attr.y]="p.y - 55" 
            width="40"
            height="40"
            href="assets/point 4.svg"
          ></image>
        </g>

              <!-- کاراکتر متحرک -->
        <image
        *ngIf="characterPosition"
        [attr.x]="characterPosition.x - 70"
        [attr.y]="characterPosition.y - 160"
        width="100"
        height="200"
        href="assets/img5.png"
        class="character"
        />
    </ng-container>
  </svg>
</div>
