<div class="roadmap-container" (click)="closeTooltip()">
  <!-- SVG پس‌زمینه -->
  <div #svgContainer class="svg-bg"></div>

  <!-- نقاط روی مسیر -->
  <svg viewBox="0 0 1000 400" class="overlay" xmlns="http://www.w3.org/2000/svg">
    <ng-container *ngFor="let p of points">
      <circle
        [attr.cx]="p.x"
        [attr.cy]="p.y"
        [attr.r]="p.isStep ? 6 : 10"
        [attr.fill]="p.isStep ? getStepColor(p) : getColor(p)"
        stroke="#2b2b2b"
        stroke-width="2"
        class="point"
        (click)="toggleTooltip(p, $event)"
      ></circle>
    </ng-container>
  </svg>

  <!-- تولتیپ -->
  <div
    *ngIf="activePoint"
    class="tooltip"
    [ngStyle]="{
      left: activePoint.x + 'px',
      top: activePoint.y - 20 + 'px'
    }"
    (click)="$event.stopPropagation()"
  >
    <strong>{{ activePoint.label }}</strong>
    <div *ngIf="activePoint.isStep">
      <label>
        <input
          type="checkbox"
          [checked]="activePoint.stepDone"
          (change)="toggleStep(activePoint)"
        />
        انجام شد
      </label>
    </div>
  </div>
</div>
