<div class="parent-container  my-0 py-0 gap-0 ">
  <!-- هدر جدید -->
  <header class="header d-flex justify-content-between">
    <div class="cer" onclick="">
      <i class="bi bi-box-arrow-in-right fs-4"></i>
    </div>
    
      <h3>برنامه های روزانه</h3>
  <div>
    logo
  </div>
  </header>

  <div class="roadmap-container  ">
    <div class="controls pt-4">
      <button *ngIf="!showAllGoals" (click)="showAllGoalsView()" class="my-courses-btn">
        ← بازگشت    
      </button>
    </div>
    <div #svgContainer class="svg-container"></div>
    <div class="row align-items-stretch">
      <div class="col-11">از زمان هدف شما ده روز گذشته است</div>
      <div class="col-1"><i class="bi bi-hourglass-split"></i></div>
    </div>
    <div class="row align-items-stretch">
      <div class="col-11">آفرین بهت 5 هدف رو با موفقیت گذروندی برای 5 قدم بعدی آماده ای؟</div>
      <div class="col-1 "><i class="bi bi-emoji-heart-eyes-fill"></i></div>
    </div>
    </div>
    
